{% extends "base.html.twig" %}
{% block body %}

    
<h1>Accueil</h1>
<hr />
{# <div name="slider-category_game">
    <div class="row">
        {% for categoryGames in listCategoryGames %}
            <div class="col-md-4">
                <div class="card box-shadow">
                    <div class="card-body">
                        <h2 class="card-text font-weight-bold">{{ categoryGames.name }}</h2>
                        <h2 class="card-text font-weight-bold">{{ categoryGames.description }}</h2>
                    </div>
                </div>   
            </div>
        {% endfor %}
    </div>
</div> #}
{% endblock %}